
# Apriori Algorithm â€“ Association Rule Mining

In [1]:
pip install mlxtend

Collecting mlxtend
  Using cached mlxtend-0.24.0-py3-none-any.whl.metadata (7.3 kB)
Requirement already satisfied: scipy>=1.16.3 in c:\users\admin\anaconda3\lib\site-packages (from mlxtend) (1.16.3)
Requirement already satisfied: numpy>=2.3.5 in c:\users\admin\anaconda3\lib\site-packages (from mlxtend) (2.3.5)
Requirement already satisfied: pandas>=2.3.3 in c:\users\admin\anaconda3\lib\site-packages (from mlxtend) (2.3.3)
Requirement already satisfied: scikit-learn>=1.8.0 in c:\users\admin\anaconda3\lib\site-packages (from mlxtend) (1.8.0)
Requirement already satisfied: matplotlib>=3.10.8 in c:\users\admin\anaconda3\lib\site-packages (from mlxtend) (3.10.8)
Requirement already satisfied: joblib>=1.5.2 in c:\users\admin\anaconda3\lib\site-packages (from mlxtend) (1.5.2)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\admin\anaconda3\lib\site-packages (from matplotlib>=3.10.8->mlxtend) (1.3.3)
Requirement already satisfied: cycler>=0.10 in c:\users\admin\anaconda3\lib\site-packages (from matplotlib>=3.10.8->mlxtend) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\admin\anaconda3\lib\site-packages (from matplotlib>=3.10.8->mlxtend) (4.60.1)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\admin\anaconda3\lib\site-packages (from matplotlib>=3.10.8->mlxtend) (1.4.9)
Requirement already satisfied: packaging>=20.0 in c:\users\admin\anaconda3\lib\site-packages (from matplotlib>=3.10.8->mlxtend) (25.0)
Requirement already satisfied: pillow>=8 in c:\users\admin\anaconda3\lib\site-packages (from matplotlib>=3.10.8->mlxtend) (12.0.0)
Requirement already satisfied: pyparsing>=3 in c:\users\admin\anaconda3\lib\site-packages (from matplotlib>=3.10.8->mlxtend) (3.2.5)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\admin\anaconda3\lib\site-packages (from matplotlib>=3.10.8->mlxtend) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\admin\anaconda3\lib\site-packages (from pandas>=2.3.3->mlxtend) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\admin\anaconda3\lib\site-packages (from pandas>=2.3.3->mlxtend) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\admin\anaconda3\lib\site-packages (from python-dateutil>=2.7->matplotlib>=3.10.8->mlxtend) (1.17.0)
Requirement already satisfied: threadpoolctl>=3.2.0 in c:\users\admin\anaconda3\lib\site-packages (from scikit-learn>=1.8.0->mlxtend) (3.5.0)
Using cached mlxtend-0.24.0-py3-none-any.whl (1.4 MB)
Installing collected packages: mlxtend
Successfully installed mlxtend-0.24.0
Note: you may need to restart the kernel to use updated packages.

WARNING: Ignoring invalid distribution ~atplotlib (C:\Users\Admin\anaconda3\Lib\site-packages)
WARNING: Ignoring invalid distribution ~atplotlib (C:\Users\Admin\anaconda3\Lib\site-packages)
WARNING: Ignoring invalid distribution ~atplotlib (C:\Users\Admin\anaconda3\Lib\site-packages)

In [2]:

import pandas as pd
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori, association_rules

## 1. Dataset

In [3]:

dataset = [
    ['Milk', 'Bread', 'Eggs'],
    ['Milk', 'Bread'],
    ['Milk', 'Cheese'],
    ['Milk', 'Bread', 'Eggs'],
    ['Bread', 'Eggs']
]

dataset

[['Milk', 'Bread', 'Eggs'],
 ['Milk', 'Bread'],
 ['Milk', 'Cheese'],
 ['Milk', 'Bread', 'Eggs'],
 ['Bread', 'Eggs']]

## 2. One-Hot Encoding
Apriori requires data in a boolean (0/1) format.

In [4]:
te = TransactionEncoder()
te_ary = te.fit(dataset).transform(dataset)
df = pd.DataFrame(te_ary, columns=te.columns_)
df

   Bread  Cheese   Eggs   Milk
0   True   False   True   True
1   True   False  False   True
2  False    True  False   True
3   True   False   True   True
4   True   False   True  False


## 3. Frequent Itemset Generation
- **min_support = 0.6**

In [5]:

frequent_itemsets = apriori(df, min_support=0.6, use_colnames=True)
frequent_itemsets

   support       itemsets
0      0.8        (Bread)
1      0.6         (Eggs)
2      0.8         (Milk)
3      0.6  (Bread, Eggs)
4      0.6  (Bread, Milk)


## 4. Association Rules
- **metric = confidence**
- **min_threshold = 0.7**

In [6]:

rules = association_rules(
    frequent_itemsets,
    metric="confidence",
    min_threshold=0.7
)

rules[['antecedents', 'consequents', 'support', 'confidence', 'lift']]

  antecedents consequents  support  confidence    lift
0     (Bread)      (Eggs)      0.6        0.75  1.2500
1      (Eggs)     (Bread)      0.6        1.00  1.2500
2     (Bread)      (Milk)      0.6        0.75  0.9375
3      (Milk)     (Bread)      0.6        0.75  0.9375


## 5. Interpretation
- **Support**: How frequently an itemset appears  
- **Confidence**: How often the rule is correct  
- **Lift**: Strength of the rule (>1 means strong association)