# FP-Growth Algorithm â€“ Association Rule Mining

In [1]:
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import fpgrowth, association_rules

## 1. Dataset

In [2]:
transactions = [
    ['Milk', 'Bread', 'Eggs'],
    ['Milk', 'Bread'],
    ['Milk', 'Cheese'],
    ['Milk', 'Bread', 'Eggs'],
    ['Bread', 'Eggs']
]
transactions

[['Milk', 'Bread', 'Eggs'],
 ['Milk', 'Bread'],
 ['Milk', 'Cheese'],
 ['Milk', 'Bread', 'Eggs'],
 ['Bread', 'Eggs']]

## 2. One-Hot Encoding

In [3]:
te = TransactionEncoder()
te_ary = te.fit(transactions).transform(transactions)
df = pd.DataFrame(te_ary, columns=te.columns_)
df

   Bread  Cheese   Eggs   Milk
0   True   False   True   True
1   True   False  False   True
2  False    True  False   True
3   True   False   True   True
4   True   False   True  False


## 3. Frequent Itemset Generation (FP-Growth)
- **min_support = 0.6**
- Faster than Apriori for large datasets

In [4]:
frequent_itemsets = fpgrowth(df, min_support=0.6, use_colnames=True)
frequent_itemsets

   support       itemsets
0      0.8         (Milk)
1      0.8        (Bread)
2      0.6         (Eggs)
3      0.6  (Bread, Milk)
4      0.6  (Bread, Eggs)

## 4. Association Rules
- Metric used: **Lift**
- **Lift > 1** indicates strong association

In [5]:
rules = association_rules(
    frequent_itemsets,
    metric="lift",
    min_threshold=1.2
)

rules[['antecedents', 'consequents', 'support', 'confidence', 'lift']]

  antecedents consequents  support  confidence  lift
0     (Bread)      (Eggs)      0.6        0.75  1.25
1      (Eggs)     (Bread)      0.6        1.00  1.25


## 5. Interpretation
- **Support**: Frequency of itemset  
- **Confidence**: Rule reliability  
- **Lift**: Strength of association (>1 is meaningful)